.grid-container {
    display: grid;
    padding-left: 40px;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 columns */
    grid-gap: 20px;
    
}

.grid-item img {
    
    width: 80%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any extra space below the image */
    margin-top: 100px;
}

.grid-item {
    position: relative; /* Needed for absolute positioning of the tooltip */
    cursor: pointer;
}

.tooltip {
    display: none; /* Initially hidden */
    position: absolute;
    z-index: 1;
    bottom: 70%; /* Position above the item */
    left: 40%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontal centering */
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
}

.grid-item:hover .tooltip {
    display: block; /* Show on hover */
}