:root { 
    --heading-font-size: 24pt;
    --subheading-font-size: 18pt;
    --subheading-font-weight: bold;
    --normal-font-size: 14pt;
    --heading-font-weight: bold;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark-gray: #999999;
    --color-light-gray: #CCCCCC;
    --color-red: #FF5A5F;
    --color-teal: #00525E;
    --color-light-teal: #E8F0FE;
    --font-family: 'Roboto', sans-serif;
}

body { 
   background-color:  lightskyblue;
}

.grid-container {
    display: grid;
   padding:  0 100px;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 columns */
    grid-gap: 50px;

    
}

.grid-item img {
    
    width: 87%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any extra space below the image */
    margin-top: 160px;
}

.grid-item {
    position: relative; /* Needed for absolute positioning of the tooltip */
}

.tooltip {
    display: none; /* Initially hidden */
    position: absolute;
    z-index: 1;
    bottom: 70%; /* Position above the item */
    left: 40%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontal centering */
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
}

.grid-item:hover .tooltip {
    display: block; /* Show on hover */
}

.spot-location {
    font-family: var(--font-family);
    padding-top: 10px;
}

.spot-rating { 
    font-family: var(--font-family);
}

.spot-price { 
    font-family: var(--font-family);
    font-weight: bold;
}

.night { 
    font-family: var(--font-family);
    font-weight: 400;
}

.cursor-pointer-spots { 
    cursor: pointer;
}