:root { 
    --heading-font-size: 24pt;
    --subheading-font-size: 18pt;
    --subheading-font-weight: bold;
    --normal-font-size: 14pt;
    --heading-font-weight: bold;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark-gray: #999999;
    --color-light-gray: #CCCCCC;
    --color-red: #FF5A5F;
    --color-teal: #00525E;
    --color-light-teal: #E8F0FE;
    --font-family: 'Roboto', sans-serif;
}


.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Split the container into two columns */
    
}


.main-image { 
    grid-column: 1 / 2; 
    grid-row: 1 / 1;
}

.main-image img {
    width: 99%; /* Full width of the container */
    height: 99%; /* Full height, adjust if necessary */
    object-fit: cover; /* Adjusts the image to cover the element's box */
}

.small-images {
    grid-column: 2 / 3; /* Small images occupy the second column */
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two smaller images per row */
    grid-template-rows: 1fr 1fr; /* Two rows of smaller images */
    grid-gap: 10px; /* Space between smaller images */
    
}

.small-images img {
    width: 100%; /* Full width of the container */
    height: 200px;
    object-fit: cover; /* Adjusts the image to cover the element's box */
}


.price { 
    display: flex;
 
}


/* button {
    display: block;
    background-color: red;
    color: white;
    box-shadow: 3px 3px black;
} */

.name-review { 
    display: flex;
    justify-content: space-between;
    gap: 30px;
   font-family: var(--font-family);
   font-size: var(--normal-font-size);
   font-size: small;
}


.numRev { 
    margin-left: 20px; /* Adjust the value as needed */
}

.reserve-button { 
   cursor: pointer;
}

.spot-details-container {
    max-width: 1000px; /* Set maximum width */
    margin: 0 auto; /* Center the container */
    padding: 0 auto;
  }

  .star-review { 
    position: absolute;
    padding-left:90px;
    
  }



  /* Scale down the text inside the .second container */

.second { 
    
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 15px;
    height: 90px;
    font-family: var(--font-family);
}

/* 
.desc { 
    display: inline-block;
} */

.desc { 
    font-size: 12pt;
    color: var(--color-black);
    text-align: justify;
} 

.spot-name { 
    font-size: var(--subheading-font-size);
    font-family: var(--font-family);
    
}

.spot-city-state {
    font-size: var(--normal-font-size);
    font-family: var(--font-family);
}

.nightt { 
   font-size: larger;
   font-family: var(--font-family);
}

.text-night {
  font-family: var(--font-family);
  font-weight: lighter;
}

.host { 
    font-size: var(--subheading-font-size);
}

.post-review-button  {
    cursor: pointer;
}