.revieww {
    display: flex;
    flex-direction: column;
                       
}

.button-for-delete-review { 
    width: 90px;
}

.review-text { 
 text-align: justify;
 font-weight: bold;
 
}

.review-namee { 
    font-size: large;
    font-weight: bold;
}

.date-review{ 
    font-size: large;
    font-weight: normal;
}   