textarea { 
   margin: 0 20px;
}

.submit-post-button { 
    margin-left: 25px;
    width: 500px;
    margin-bottom: 20px;
    height: 40px;
}
.submit-post-button:disabled { 
  background-color: grey;
} 

h3 { 
    margin-left: 140px;
}

.star {
    font-size: 24px;
    cursor: pointer;
  
  }
  
  .filled {
    color: gold;
    
  }

  .star-rating { 
    padding-left: 180px;
    margin-bottom: 10px;
   
  }