label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; 
  }

  .image-url { 
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; 
  }

  .city-state { 
    display: flex;
    flex-direction: row;
    width: 179px;
  }
  .lat-long { 
    display: flex;
    flex-direction: row;
  }




  input { 
    width: 500px;
    height: 30px;
  }


  .main-contain { 
    max-width: 1100px; 
    margin: 0 auto; 
    padding: 20px; 
    
  }


 

  .city-state input, .lat-long input {
    /* Adjust input width and height */
    width: 230px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    padding: 5px;
    margin: 5px;
}

textarea { 
  width: 500px
}


.error-message {
  color: red;
}


.main-contain {
  display: flex;
  flex-direction: column;
  

  min-height: 100vh; 
  padding: 20px;
}

.create-form {
  width: 100%; 
  max-width: 500px;
  margin: auto; 
}

.main-contain h1,
.main-contain h2,
.main-contain h3,
.main-contain h4{
  margin: 0;
  margin-bottom: 20px;
}


.h1-h2 { 
   padding-left: 300px;
   margin-bottom: 20px;
}

.create-button { 
 margin-left: 200px;
 cursor: pointer;

}


.body-text {
  margin-left: -3px;
}

