.hidden { 
    display: none;
}

#bar { 
    margin-right: 10px;
}

/* .logout-button { 
    border: 2px solid gray;
    border-radius: 10px;
} */

.button-navigation { 
    width: 80px;
    border: solid 2px;
    border-radius: 15px;
    margin-top: 0px;
    margin-bottom: 30px;
    cursor: pointer;
    background-color: purple;
}

.profile-button { 
    width: 80px;
    border: solid 2px;
    border-radius: 15px;
    background-color: purple;
    margin-right: 30px;
    margin-top: -9px;
    
}

.login-page { 
    position: relative; /* Add this line */
    display: flex;
    justify-content: end;
    
    
}

.profile-container { 
  position: relative;
   
}

.main-container { 
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}








/* //navigation.jsx  */


/* CSS for the navigation bar */




/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
   */

  
  /* Dropdown menu styles */
  .profile-dropdown {
    position: absolute;
    top: 120%; /* Position it below the login page element */
    right: 0;
    z-index: 1000; 
    padding-left: 20px;
    height: 100px;
    
  }
  


  

  
  /* .profile-dropdown li button {
    background: white;
    color: black;
    text-align: left; 
    padding-left: 0; 
    font-size: 16 px;
  }
   */

  ul {
    list-style-type: none; /* Remove bullet points */
   
}

.logo-link {
    text-decoration: none;
    
  }
  
  #peace-logo {
    font-size: 24px; /* Adjust this value as needed */
    color: purple;
  }
  
  .logo-text {
    margin-left: 8px; /* Space between logo and text */
    font-size: 20px; /* Adjust this value as needed */
    color: black;
    font-weight: bold; /* Text color, adjust as needed */
    color: purple;
  } 



li { 
  font-size: 13px;
}


.logout-button { 
  text-align: center;
  border-radius: 15px;
  margin-right: 20px;
  background-color: grey;
  color: white;
  width: 60px;
  cursor: pointer;
}






.logino {
  margin-top: -40px; /* Pull the login and signup options up */
  border: 2px solid black;
  margin-right: 20px;
}
.list { 
  border: 1px black solid;
  padding: 10px 10px;
  margin-top: -2px;
  margin-right: 30px;
}


.logino button { 
  background: none;
  border: none;
  cursor: pointer; /* Maintain the pointer to indicate it's clickable */
  text-decoration: none; /* Remove underlines if they are <a> tags */
  color: black;
  box-shadow: none;
  padding-right: 30px;
}

.manage-spots-button { 
  cursor: pointer;
}

.nav-container { 
  margin-top: 60px;
}


.create-navlink {
  padding-right: 40px;
}