.input-group {
    margin-bottom: 10px; /* Adjust space between elements as needed */
    margin-left: 20px;
    width: 250;
  }
  
  .input-group label,
  .input-group input {
    display: block;
    margin-right: 10px;
    margin-bottom: 5px; 
    

  }


  .input-group input  { 
    width: 250px;
  }

.login-container { 

     width: 300px;
     height: 300px;
}

h1 { 
    text-align: center;
}

.button-login { 
    width: 250px;
    padding: 10px;
    margin-left: 0px;

}

.hidden { 
    display: none;
}


.button-login:disabled { 
  background-color: white;
  color: #666666;
  
}

.demo-user { 
  margin-left: 100px;
  border: none;
  background: none;
  color: blue;
  text-decoration: underline;
}